<h1>THE DATA</h1>


<% @data.each do |station| %> 
Station name: <%= station["name"] %>
<br>  
Station latitude: <%= station["lat"] %> 
<br>
Station longitude: <%= station["lng"] %> 
<br> </br>
<% end %>

